.AddBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F9CB43;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 3%;
}